.card {
    width: 200px;
    height: 200px;
    position: relative;
    float:left;
    margin: 10px;
}

.info {
    position: absolute;
    background-color: white;
    top: 0px;
    width: 200px;
    height: 200px;
    /*vertical-align: middle;*/
    display: none;
    z-index: 1;
}

.profile {
    position: absolute;
    top: 0px;
    width:200px;
    height:200px;
    z-index: 0;
}