<!DOCTYPE html>
<html lang="ko">
<head>
<% include ./partials/head %>
</head>
<body class="container">

<header>
<% include ./partials/header %>
</header>

<main>
<div class="jumbotron">
<h1>NEXTIN.me</h1>
<p>Welcome to nextin</p>
</div>
<div>
<ul>
	<% students.forEach(function(stu) { %>
	<li> <%= stu.name %> - <%= stu.email %> :: <%= stu.msg %> </li>
	<% }); %>
</ul>
</div>
</main>

<footer>
<% include ./partials/footer %>
</footer>

</body>
</html>
