#logo {
	position: relative;
	width: 100%;
	height: 100vh;
	transition: height 1s;
}

#logo .container {
	position: relative;
	width: 960px;
	height: 456px;
	margin: 0 auto;
	margin-top: 100px;
	transition: width 1s, height 1s;
	/*margin-bottom: 230px;*/
}
#logo .container.shirink {
	width: 0px;
	height: 0px;
	margin: 0;
}
#logo.shirink {
	height: 0px;
}
#img_logo {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 960px;
	height: 456px;
	margin: 0 auto;
	transition: opacity 1s, width 1s, height 1s, top 1s, left 1s;
}
#img_logo.show {
	opacity: 1;
}
#img_logo.shirink {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 420px;
	height: 200px;
}

.hide {
	opacity: 0;
}
svg {
	position: absolute;
	margin: 0 auto;
	top: 28px;
	left: 26px;
	transition: opacity 1s;
	z-index: 1;
}