@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/** {
    border: 1px solid red !important;
}*/
a {
    color: inherit;
}

.card {
    /*background-color: red;*/
    width: 200px;
    height: 200px;
    position: relative;
    float:left;
    margin: 10px;
}

.info {
    font: 13px/20px 'Nanum Gothic', sans-serif;
    width: 100%;
    height: 100%;
    padding: 18px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    display: none;
    z-index: 1;
}

.moto {
    margin-top: 1em;
}

.bi {
    width: 420px;
}

.profile {
    position: absolute;
    top: 0;
    width:100%;
    z-index: 0;
}

@media (max-width: 440px) {
    .card {
        /*background-color: blue;*/
        width: 46%;
        margin: 2%;
    }
    .bi {
        width: 96%;
        margin: 2%;
    }
}