@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

.card {
    /*background-color: red;*/
    width: 200px;
    height: 200px;
    position: relative;
    float:left;
    margin: 10px;
}

.info {
    font-family: 'Nanum Gothic', sans-serif;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    z-index: 1;
}

.bi {
    width: 420px;
}

.profile {
    position: absolute;
    top: 0;
    width:100%;
    z-index: 0;
}

@media (max-width: 440px) {
    .card {
        /*background-color: blue;*/
        width: 40%;
        margin: 5%;
    }
    .bi {
        width: 90%;
        margin: 5%;
    }
}