* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background: #fff
}
	
a {
    color: #000;
    text-decoration: none !important;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    opacity: 0;
}

.box {
    position: relative;
    display: inline-block;
    overflow: hidden;

    width: 140px;
    height: 140px;

    z-index: 1;
	
	margin-top: 6px; /*-4 해야 실제 사이즈*/
	margin-left: 6px;
	margin-right: 2px;
	background-size: cover;
    cursor: pointer;
}

.item_content {
	position: relative;
	width: 100%;
	height: 100%;
	/*padding: 30px;*/
}

.logo {
    width: 292px;
	margin-top: 6px; /*-4 해야 실제 사이즈*/
	margin-left: 6px;
	margin-right: 2px;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 1;
   
}



.info {
    width: 90%;
    height: 95%;
    padding: 5% 5% 0 5%;
    margin: 0;
    overflow: hidden;
    background: #dadada;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    display: none;
    font: 10px/11px Arial, Helvetica, sans-serif
}

.name {
    font-weight: bold;
    font: 11px/14px Arial, Helvetica, sans-serif
}

.major {
    1margin:0;
    margin-bottom: 0px
}

.wrap {
	width: 90%;
	padding: 12px 0;
	margin: 0 auto;
	1background-color: aqua;
	opacity: 0;
	transition: 1s all ease;
}


/* 여기부터는 로고 인트로를 위한 스타일 */


#logo {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: .6s all ease;
}

#logo .container {
	position: relative;
	height: 456px;
	width: 960px;
	
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%,0) !important;

}
#img_logo {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	-webkit-transition: opacity 1s;
}
#img_logo.show {
	opacity: 1;
}

.hide {
	opacity: 0;
}
svg {
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 28px;
	margin-left: 26px;
	-webkit-transition: opacity 1s;
	z-index: 2;
}
