<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="http://meyerweb.com/eric/tools/css/reset/reset.css" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <script type=""></script>
    <title></title>
</head>
<body>
    <div class="card_container">
        <a href="#">
            <div class="card">
                <div class="info">
                    <div class="name">나무처럼 살고픈 김다혜</div>
                    <div class="major">웹서버 전공</div>
                    <!--<div class="background">KAIST 수리과학과 졸업</div>-->
                    <div class="motto">소프트웨어를 통해, 공동체의 가치를 이루고 싶습니다.</div>
                </div>
                <img class="profile" src="http://placehold.it/200x200" alt="141010DahyeKim" />
            </div>
        </a>

        <a href="http://nhnnext.org/">
            <div class="card logo">
                <div class="info">
                    <div class="name">NHN NEXT 홈페이지</div>
                </div>
                <img class="profile" src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xfa1/v/t1.0-9/527758_138972806226304_158062314_n.jpg?oh=bddc55a03206601026f0014f568a7729&oe=55186C91&__gda__=1425925935_dca03495f9a4e13ca980eff59bfc132b" alt="141010DahyeKim" />
            </div>
        </a>

        <a href="#">
            <div class="card bi">
                <img class="profile" src="http://nhnnext.org/img/bi/next_bi.png" alt="141010DahyeKim" />
            </div>
        </a>
        
        <a href="#">
            <div class="card">
                <div class="info">
                    <div class="name">나무처럼 살고픈 김다혜</div>
                    <div class="major">웹서버 전공</div>
                    <!--<div class="background">KAIST 수리과학과 졸업</div>-->
                    <div class="motto">소프트웨어를 통해, 공동체의 가치를 이루고 싶습니다.</div>
                </div>
                <img class="profile" src="http://placehold.it/200x200" alt="141010DahyeKim" />
            </div>
        </a>

        <a href="#">
            <div class="card">
                <div class="info">
                    <div class="name">나무처럼 살고픈 김다혜</div>
                    <div class="major">웹서버 전공</div>
                    <!--<div class="background">KAIST 수리과학과 졸업</div>-->
                    <div class="motto">소프트웨어를 통해, 공동체의 가치를 이루고 싶습니다.</div>
                </div>
                <img class="profile" src="http://placehold.it/200x200" alt="141010DahyeKim" />
            </div>
        </a>

        <a href="#">
            <div class="card">
                <div class="info">
                    <div class="name">나무처럼 살고픈 김다혜</div>
                    <div class="major">웹서버 전공</div>
                    <!--<div class="background">KAIST 수리과학과 졸업</div>-->
                    <div class="motto">소프트웨어를 통해, 공동체의 가치를 이루고 싶습니다.</div>
                </div>
                <img class="profile" src="http://placehold.it/200x200" alt="141010DahyeKim" />
            </div>
        </a>

        <a href="#">
            <div class="card">
                <div class="info">
                    <div class="name">나무처럼 살고픈 김다혜</div>
                    <div class="major">웹서버 전공</div>
                    <!--<div class="background">KAIST 수리과학과 졸업</div>-->
                    <div class="motto">소프트웨어를 통해, 공동체의 가치를 이루고 싶습니다.</div>
                </div>
                <img class="profile" src="http://placehold.it/200x200" alt="141010DahyeKim" />
            </div>
        </a>

    </div>
    <script type="text/javascript" src="/javascripts/main.js"></script>
</body>
</html>
